.bf__card {
  margin: 20px 0 30px 0;
}

.bf__title {
  font-size: 28px;
  font-weight: bold;
}

.bf__paragraph {
  font-size: 20px;
  font-weight: 400;
}

.bf__series-watchtime {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.bf__single-series-watchtime {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

.bf__paragraph--yellow,
.bf__series-watchtime--yellow,
.bf__single-series-watchtime--yellow {
  color: #ffc81a;
}
